.visuals-iframe-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #262626;
}
.visuals-iframe {
    width: 44vw;
    height: 25vw;
    padding: 0px;
    margin: 0px;
    background: black;
}
