.main-content-holder {
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 200px;
    right: 0px;
    overflow-y: hidden;
}
.main-content {
    padding: 24px;
    width: calc(100% - 48px);
    height: calc(100% + 48px);
    overflow-y: scroll;
}
