.glitch {
    margin-top: 7%;
    position: relative;
}

@keyframes noise-anim {
    0% {
        clip: rect(41vh, 9999px, 31vh, 0);
    }
    4% {
        clip: rect(43vh, 9999px, 52vh, 0);
    }
    8% {
        clip: rect(40vh, 9999px, 2vh, 0);
    }
    12% {
        clip: rect(20vh, 9999px, 11vh, 0);
    }
    16% {
        clip: rect(19vh, 9999px, 59vh, 0);
    }
    20% {
        clip: rect(54vh, 9999px, 8vh, 0);
    }
    24% {
        clip: rect(40vh, 9999px, 9vh, 0);
    }
    28% {
        clip: rect(42vh, 9999px, 35vh, 0);
    }
    32% {
        clip: rect(41vh, 9999px, 14vh, 0);
    }
    36% {
        clip: rect(47vh, 9999px, 32vh, 0);
    }
    40% {
        clip: rect(36vh, 9999px, 29vh, 0);
    }
    44% {
        clip: rect(58vh, 9999px, 1vh, 0);
    }
    48% {
        clip: rect(32vh, 9999px, 41vh, 0);
    }
    52% {
        clip: rect(55vh, 9999px, 41vh, 0);
    }
    56% {
        clip: rect(55vh, 9999px, 28vh, 0);
    }
    60% {
        clip: rect(32vh, 9999px, 7vh, 0);
    }
    64% {
        clip: rect(9vh, 9999px, 48vh, 0);
    }
    68% {
        clip: rect(49vh, 9999px, 31vh, 0);
    }
    72% {
        clip: rect(49vh, 9999px, 36vh, 0);
    }
    76% {
        clip: rect(5vh, 9999px, 34vh, 0);
    }
    80% {
        clip: rect(55vh, 9999px, 31vh, 0);
    }
}
.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 3px;
    text-shadow: -4px 0 red;
    top: 0;
    color: white;
    background: transparent;
    overflow: hidden;
    clip: rect(0, 9999px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
    0% {
        clip: rect(30vh, 9999px, 50vh, 0);
    }
    3.5% {
        clip: rect(37vh, 9999px, 26vh, 0);
    }
    7% {
        clip: rect(42vh, 9999px, 11vh, 0);
    }
    10.5% {
        clip: rect(36vh, 9999px, 35vh, 0);
    }
    14% {
        clip: rect(22vh, 9999px, 9vh, 0);
    }
    17.5% {
        clip: rect(35vh, 9999px, 55vh, 0);
    }
    21% {
        clip: rect(45vh, 9999px, 18vh, 0);
    }
    24.5% {
        clip: rect(11vh, 9999px, 20vh, 0);
    }
    28% {
        clip: rect(15vh, 9999px, 23vh, 0);
    }
    31.5% {
        clip: rect(24vh, 9999px, 12vh, 0);
    }
    35% {
        clip: rect(42vh, 9999px, 47vh, 0);
    }
    38.5% {
        clip: rect(55vh, 9999px, 31vh, 0);
    }
    42% {
        clip: rect(19vh, 9999px, 58vh, 0);
    }
    45.5% {
        clip: rect(21vh, 9999px, 44vh, 0);
    }
    49% {
        clip: rect(11vh, 9999px, 46vh, 0);
    }
    52.5% {
        clip: rect(53vh, 9999px, 9vh, 0);
    }
    56% {
        clip: rect(3vh, 9999px, 34vh, 0);
    }
    59.5% {
        clip: rect(53vh, 9999px, 15vh, 0);
    }
    63% {
        clip: rect(21vh, 9999px, 60vh, 0);
    }
    66.5% {
        clip: rect(58vh, 9999px, 59vh, 0);
    }
    70% {
        clip: rect(53vh, 9999px, 51vh, 0);
    }
}
.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -3px;
    text-shadow: 4px 0 blue;
    top: 0;
    color: white;
    background: transparent;
    overflow: hidden;
    clip: rect(0, 9999px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}
