.visualizer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: 'Tofino Cond';
  font-weight: bold;
  color: #ffffff;
  text-shadow: -20px 0 20px black, 0 20px 20px black, 0px 0 20px black, 0 20px 20px black;
  line-height: 1;
}
#background-video {
  background-image: url("http://localhost:3000/assets/patterns/videoPangea.mp4");
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed;
  background-color: red;
}
.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0px;
  overflow: hidden;
}
.particles2 {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0px;
  overflow: hidden;
}
.particles22 {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: 0px;
  overflow: hidden;
}
.logoCenter {
  width: 70%;
  height: 80%;
  z-index: 1;
  margin-top: 0%;
}
.logoTopHolder {
  position: absolute;
  top: 6%;
  width: 90%;
  height: 46%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.logoTop {
  width: 40%;
  height: 100%;
  z-index: 1;
}
.thematic {
  position: absolute;
  bottom: 7%;
  max-width: 60%;
  font-size: 15vh;
  z-index: 1;
  text-align: center;
}
.format {
  position: absolute;
  bottom: 20%;
  max-width: 60%;
  font-size: 14vh;
  z-index: 1;
  text-align: 'center';
}
.competitor {
  position: absolute;
  width: 30%;
  height: 70%;
  -webkit-mask-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 71%);
}
.competitorLeft {
  left: calc(0px + 5%);
}
.competitorRight {
  right: calc(0px + 5%);
}
.competitorName {
  position: absolute;
  bottom: 10%;
  width: 32%;
  font-size: 10vh;
  text-align: center;
  text-shadow: 4px 4px 30px gray;
}
@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
